{% include header.html %}

<div class="hero-container">
  <div class="hero-content">
    <div class="break">
    </div>
    <h1 class="text-center">
      Music
    </h1>
    <p class="text-center">
      Here is a collection of 
      my music. I love exploring electronic sounds and 
      experimenting with harmonies heavily influenced by Japanese music 
      and jazz. 
      Take a listen whenever you feel comfortable.
    </p>
  </div>
</div>

<div class="hero-container">
  <div class="hero-content">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/1mhELS8TIXMlH8IzZ8DOyg?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
</div>


{% include footer.html %}
