{% include header.html %}

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="hero-container">
        <div class="hero-content">
          <p class="break"></p>
          <h1 class="text-center">
            Music
          </h1>
          <p class="text-center">
            Here is a collection of 
            my music. I love exploring new sounds and experimenting with beautiful harmonies. 
            My primary styles include impressionism and Japanese electronic music, 
            with influence from jazz and funk. Take a listen to some of my 
            works that reflect my passion.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- First Song -->
  <div class="row">
    <div class="col-xs-12 col-md-7">
      <div class="hero-container">
        <div class="hero-content">
          <audio controls>
            <source src="{{ site.url }}/assets/3：34AM.m4a" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-5">
      <div class="hero-container">
        <div class="hero-content">
          <h1 style="font-size: 40px; word-spacing:0px; font-family: Canela Deck; text-align: center;">3:34 AM</h1>
          <p style="font-size: 15px; text-align: justify;">
            A J-POP fusion jazz written in Jun 2024. 
            Performance is edited entirely using MIDI.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Second Song -->
  <div class="row">
    <div class="col-xs-12 col-md-7">
      <div class="hero-container">
        <div class="hero-content">
          <audio controls>
            <source src="{{ site.url }}/assets/Green Pepper.m4a" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-5">
      <div class="hero-container">
        <div class="hero-content">
          <h1 style="font-size: 40px; word-spacing:0px; font-family: Canela Deck; text-align: center;">Green Pepper</h1>
          <p style="font-size: 15px; text-align: justify;">
            A Kawaii Bass fusion jazz written 
            in May 2024. Upbeat melody with interesting chord progressions and improvisation.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Third Song -->
  <div class="row">
    <div class="col-xs-12 col-md-7">
      <div class="hero-container">
        <div class="hero-content">
          <audio controls>
            <source src="{{ site.url }}/assets/Citrus.m4a" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-5">
      <div class="hero-container">
        <div class="hero-content">
          <h1 style="font-size: 40px; word-spacing:0px; font-family: Canela Deck; text-align: center;">Citrus</h1>
          <p style="font-size: 15px; text-align: justify;">
            A Kawaii Bass written 
            in May 2024. Experimenting with aggressive designs of synthesizers and 
            use of repetition.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Fourth Song -->
  <div class="row">
    <div class="col-xs-12 col-md-7">
      <div class="hero-container">
        <div class="hero-content">
          <audio controls>
            <source src="{{ site.url }}/assets/Wandering Wings.m4a" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-5">
      <div class="hero-container">
        <div class="hero-content">
          <h1 style="font-size: 40px; word-spacing:0px; font-family: Canela Deck; text-align: center;">Wandering Wings</h1>
          <p style="font-size: 15px; text-align: justify;">
            An impressionism piano solo written in my senior year of high school as a tribute to Ravel. 
            Written and edited entirely using MIDI.
            I was trying to depict the imagery of birds through fast arpeggios and frequent changes in tonality. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



{% include footer.html %}
