{% include header.html %}

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="hero-container">
        <div class="hero-content">
          <p class="break"></p>
          <h1 class="text-center">
            Music
          </h1>
          <p class="text-center">
            Here is a collection of 
            my music. I love exploring electronic sounds and 
            experimenting with harmonies heavily influenced by Japanese music 
            and jazz. 
            Take a listen whenever you feel comfortable.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1904125539&color=%23eb7cbe&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/konoha-sakurai" title="KONOHA&#x27; Sakurai" target="_blank" style="color: #cccccc; text-decoration: none;">KONOHA&#x27; Sakurai</a> · <a href="https://soundcloud.com/konoha-sakurai/sets/telescope" title="Telescope" target="_blank" style="color: #cccccc; text-decoration: none;">Telescope</a></div>

<div class="container">
  <!-- First Song -->
  <div class="row">
    <div class="col-xs-12 col-md-7">
      <div class="hero-container">
        <div class="hero-content">
          <audio controls>
            <source src="{{ site.url }}/assets/UFO.m4a" type="audio/mpeg">
            Your browser does not support the m4a audio element.
          </audio>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-5">
      <div class="hero-container">
        <div class="hero-content">
          <h1 style="font-size: 40px; word-spacing:0px; font-family: Canela Deck; text-align: center;">UFO</h1>
          <p style="font-size: 15px; text-align: justify;">
            A calm, evocative song. I experimented with processing guitar recordings 
            to create the background sound effects. To create an illusive effect, 
            I layered three pianos, each with slightly randomized tuning and processed 
            with saturators and Serum FX. A guitar arpeggiates throughout, 
            and I carefully applied reverb and delay effects to render the music 
            while maintaining the clarity of every element. 
            Extensive foley sounds were added to enhance the details of the song.
            Written in September 2024.
          </p> 
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Second Song -->

  <div class="row">
    <div class="col-xs-12 col-md-7">
      <div class="hero-container">
        <div class="hero-content">
          <audio controls>
            <source src="{{ site.url }}/assets/After School.m4a" type="audio/mpeg">
            Your browser does not support the m4a audio element.
          </audio>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-5">
      <div class="hero-container">
        <div class="hero-content">
          <h1 style="font-size: 40px; word-spacing:0px; font-family: Canela Deck; text-align: center;">After School</h1>
          <p style="font-size: 15px; text-align: justify;">
            A casual and refreshing song featuring extensive foley, 
            humorous synth design, abundant melodic elements, and modulations 
            that take flight.
          </p> 
          <p style="font-size: 15px; text-align: justify;">
            For the sound design part, I applied automation to the resonance filter
            to create the "wawa" sound and
            added a spike of square wave to create a clean attack of the lead. 
            I also explored using mute notes on the guitars to add 
            a funky and humorous vibe. I experimented with frequent modulations 
            between Ab major and Cb major in the second section to create 
            a unique feel, and many tiny foley sounds were adopted to 
            make the track more delicate.
            Written in August 2024.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-7">
      <div class="hero-container">
        <div class="hero-content">
          <audio controls>
            <source src="{{ site.url }}/assets/STELLA LOVE.m4a" type="audio/mpeg">
            Your browser does not support the m4a audio element.
          </audio>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-5">
      <div class="hero-container">
        <div class="hero-content">
          <h1 style="font-size: 40px; word-spacing:0px; font-family: Canela Deck; text-align: center;">STELLA LOVE</h1>
          <p style="font-size: 15px; text-align: justify;">
            An intense, upbeat electronic track with heavy experimentation on 
            arpeggiators and distortion, vocal chops. 
          </p>
          <p style="font-size: 15px; text-align: justify;">
            I layered two arps and each of them took different roles. One 
            is downsampled and creates a glitched feeling, and the other 
            has extended reverb that renders the soundscape.
            For the vocal part, I used SynthV, an AI engine, to generate vocal 
            phrases and then applied processings to create the 
            chops. 
            Written in July 2024.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-7">
      <div class="hero-container">
        <div class="hero-content">
          <audio controls>
            <source src="{{ site.url }}/assets/Antennaw.m4a" type="audio/mpeg">
            Your browser does not support the m4a audio element.
          </audio>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-5">
      <div class="hero-container">
        <div class="hero-content">
          <h1 style="font-size: 40px; word-spacing:0px; font-family: Canela Deck; text-align: center;">Antenna</h1>
          <p style="font-size: 15px; text-align: justify;">
            A calm, warm track featuring a looping guitar phrase, 
            smooth pads, vocal elements, sus chords, and slightly heightened tuning, 
            depicting a tranquil summer night.
          </p> 
          <p style="font-size: 15px; text-align: justify;">
            I carefully humanized MIDI for the guitars by adding 
            mutes, very short notes, and rubato in solo sections.
            To create an illusory feeling, 
            I applied automation to randomizing the tuning of the 
            piano, and used arpeggiator and pan automation for synths.
            Background noises were made by modulating saw waves and 
            randomizing the pitch, simulating radio noises. I also simulated 
            the sound of railroad crossing bell by playing block chords 
            on a piano. 
            Written in July 2024.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Fourth Song -->
  <div class="row">
    <div class="col-xs-12 col-md-7">
      <div class="hero-container">
        <div class="hero-content">
          <audio controls>
            <source src="{{ site.url }}/assets/Wandering Wings.m4a" type="audio/mpeg">
            Your browser does not support the m4a audio element.
          </audio>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-5">
      <div class="hero-container">
        <div class="hero-content">
          <h1 style="font-size: 40px; word-spacing:0px; font-family: Canela Deck; text-align: center;">Wandering Wings</h1>
          <p style="font-size: 15px; text-align: justify;">
            An impressionism piano solo written in my senior year of high school 
            when I was studying Ravel's approach to music. 
            Written entirely in MIDI (YES this is ALL MIDI!),
            the piece depicts the imagery of birds through 
            fast arpeggios. 
            Written in August 2023.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



{% include footer.html %}
