{% include header.html %}


<div class="hero-container">
  <div class="hero-content">
    <div class="break">
    </div>
    <h1 class="text-center">Resume</h1>
    <p class="text-center">
      Click the buttons to download a copy.
    </p>
    <div class="break">
    </div>
    <div class="hero-buttons">
        <a href="{{ site.url }}/assets/Lixing Wang CV Nov 11.pdf"><button class="btn btn-default btn-lg"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>English</button></a>
        <!-- <a href="{{ site.url }}/assets/王力行简历中英2024-05-22.pdf"><button class="btn btn-default btn-lg"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Eng&中文</button></a> 
    -->
    </div>
    <div class="break">
    </div>
  </div>
</div>


{% include footer.html %}
