{% include header.html %}

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="hero-container">
        <div class="hero-content">
          <div class="break">
          </div>
          <h1 class="text-center">Resume</h1>

          <p class="text-center">
            Click the buttons to download a copy.
          </p>

          <div class="hero-buttons">
              <a href="{{ site.url }}/assets/Lixing Wang CV.pdf"><button class="btn btn-default btn-lg"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>English</button></a>
              <!-- <a href="{{ site.url }}/assets/王力行简历中英2024-05-22.pdf"><button class="btn btn-default btn-lg"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Eng&中文</button></a> 
          -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
